<style>
.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  </style>

<body>
<%- include ('../Partials/header') %> <%- include ('../Partials/menu') %>

<main>
    <div class="center" style="padding-top:1%">
        <button type="submit" name="find_matches" class="btn btn-success" onclick="window.location.href='later'">Find Matches</button>
    </div>
    <div class="center" style="padding-top:5%; padding-bottom:7%">
    <table style="width:100%">
        <tr>
            <th>Matches</th>
        </tr>
        <% if (matches.length != 0) { i = 1;%>
        <% matches.forEach(function(item) { %>
            <tr>
                <td>Match #<%=i%>:  <%= item.username %></td>
                <td><button type="submit" name="add_friend" class="btn btn-success" onclick="window.location.href='later'">Add Friend</button></td>
            </tr>
        <% i = i + 1;}); } else {%>
            <tr>
                <td>No Matches Found</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        <% } %>
    </table>
    <table style="width:100%">
        <tr>
            <th>Friends</th>
        </tr>
        <% if (friends.length != 0) { i = 1;%>
        <% friends.forEach(function(item) { %>
        <tr>
            <td>Friend #<%=i%>:  <%= item.username %></td>
            <td><img alt="Icon" style="height:25px" src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" ></td>
        </tr>
        <% i = i + 1;}); } else {%>
            <tr>
                <td>You Currently Have No Friends</td>
            </tr>
        <% } %>
    </table>
    </div>
</main>
<%- include ('../Partials/footer') %>
</body>