<%- include ('../Partials/header') %> <%- include ('../Partials/menu') %>
<link rel="stylesheet" href="/css/style.css" type="text/css">

<main>
    <!--title of the recommendatiosn page will be <username>'s recommendations-->
    <div class="container-fluid">
    <div class="page-title">
    <h2 class="title">Recommendations</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th><!--book image--></th>
                <th>Book Title</th>
                <th>Book Description</th>
                <th>Book Price/Availability</th>
                <th><!--button to go to book on goodreads--></th>
                <th><!--button to add book from wishlist--></th>
            </tr>
        </thead>
        <tbody>
            <!--iteratively display books in users recommendation list based on their info in db/info from api call-->
            <%
            if(results) {
                for (let j = 0; j < 5; j++){
                    var title = results.items[j].volumeInfo.title;
                    var data = Object.values(results.items[j].volumeInfo.infoLink);
                    var image = results.items[j].volumeInfo.imageLinks;
                    var description = results.items[j].volumeInfo.description;
                    var link = results.items[j].volumeInfo.infoLink;
                    if (image) {
                %>
                <tr>
                    <td>
                        <img src="<%= image.thumbnail %>">
                    </td>
                    <td><%= title %></td>
                    <td><%= description %></td>
                    <td>
                        <button type="submit" name="select_book" class="btn btn-success" onclick="window.location.href='<%= link %>'">Select Book</button>
                    </td>
                </tr>
                <%
            }
            }
            }
            %>
        </tbody>
    </table>
    <small id="searchBooksHelp" class="form-text text-muted">Click <a href="/searchBooks">here</a> to add more books to your wishlist!</small>
  </div>
</main>

<%- include ('../Partials/footer') %>