<%- include ('../Partials/header') %> <%- include ('../Partials/menu') %>

<main>
  <div class="container">
    <h2 class="title">Search Books</h2>
    <!-- THE SEARCH FUNCTION -->
    <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
    </div>
    <!-- BOOK SEARCH DISPLAY -->
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th><!--book image--></th>
                    <th>Book Title</th>
                    <th>Book Description</th>
                    <th>Book Price/Availability</th>
                    <th><!--button to purchase/rent/download book--></th>
                    <th><!--button to add book to wishlist--></th>
                </tr>
            </thead>
            <tbody>
                <!-- displays a portion of the database -->
                <% results.forEach(function(book) { %>
                  <tr>
                    <!-- <td><%= book.img %></td> -->
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <!-- <td><%= book.description %></td> -->
                    <!-- <td><%= book.link %></td> -->
                    <td>
                        <button type="submit" name="select_book" class="btn btn-success" onclick="window.location.href='something'">Select Book</button>
                    </td>
                    <td>
                        <button type="submit" name="remove_book" class="btn btn-danger" onclick=" ">Remove Book</button>
                    </td>
                    <!-- <td>
                      <% if(locals.action === 'delete'){ %>
                        <form action="/courses/delete" method="POST">
                          <input name="course_id" value="<%= course.course_id %>" type="hidden">
                          <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                      <% } else { %>
                        <% if(book.addedtolist) { %>
                          <form action="/courses/add" method="POST">
                            <input name="course_id" value="<%= course.course_id %>" type="hidden">
                            <button type="submit" class="btn btn-primary" disabled>Add</button>
                          </form>
                        <% } else { %>
                          <form action="/courses/add" method="POST">
                            <input name="course_id" value="<%= course.course_id %>" type="hidden">
                            <button type="submit" class="btn btn-primary">Add</button>
                          </form>
                        <% } %>
                      <% } %>
                    </td> -->
                  </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
  </div>
</main>

<%- include ('../Partials/footer') %>