<%- include ('../Partials/header') %> <%- include ('../Partials/menu') %>

<main>
  <div class="container">
    <h2 class="title">Search Books</h2>
    <!-- THE SEARCH FUNCTION -->
    <form action="/searchBooks/search" method = "POST">
        <input type="text" name="beanin" id="beanin" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">search</button>
    </form>
    <!-- BOOK SEARCH DISPLAY -->
    <div>
      <% if (results != 0) { %>
        <table class="table">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Book Title</th>
                    <th>Author(s)</th>
                    <th>Book Description</th>
                    <th>More Info</th>
                    <th>Add to Wishlist</th>
                </tr>
            </thead>
            <tbody>
                <!-- displays a portion of the database -->
                <% results.forEach(function(book) { %>
                  <tr>
                    <td>
                      <% if(book.volumeInfo.imageLinks) { %>
                        <img src="<%= book.volumeInfo.imageLinks.thumbnail %>">
                      <% } else { %>
                        <p>no image</p>
                      <% } %>
                    </td>
                    <td><%= book.volumeInfo.title %></td>
                    <td><%= book.volumeInfo.authors %></td>
                    <td><%= book.volumeInfo.description %></td>
                    <td>
                        <button type="submit" name="select_book" class="btn btn-success" onclick="window.location.href='<%= book.volumeInfo.infoLink %>'">More Info</button>
                    </td>
                    <td>
                        <button type="submit" name="add_book" class="btn btn-success" onclick=" ">Add to Wishlist</button>
                    </td>
                  </tr>
                <% }) %>
            </tbody>
        </table>
        <% } %>
        <small id="searchBooksHelp" class="form-text text-muted">Click <a href="/wishlist">here</a> to view your wishlist!</small>
    </div>
  </div>
</main>

<%- include ('../Partials/footer') %>