<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>

    <div class="container">
        <h1>Reviews</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Username</th>
                    <th>Review</th>
                </tr>
            </thead>

            <tbody>
                <!-- displays a portion of the database -->
                <% if (reviews) { %>
                <% if (reviews.length != 0) { i = 1;%>
                <% reviews.forEach(function(item) { %>
                <tr>
                    <td> <%= item.reviewcontents %></td>
                    <td> <%= item.reviewcontents %></td>
                    <td> <%= item.reviewcontents %></td>
                </tr>
                <% i = i + 1;}); } } else {%>
                    <tr>
                        <td>No reviews have been submited</td>
                    </tr>
                <% } %>
               
            </tbody>
        </table>
        <a href="/review" >Submit a book review</a>
    </div>
</main>

<%- include ('../partials/footer') %>