<%- include ('../Partials/header') %> <%- include ('../Partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>
<link rel="stylesheet" href="/css/style.css" type="text/css">

<main>
    <div class="container-fluid">
    <!--title of the wishlist page will be <username>'s wishlist-->
    <div class="page-title">
        <style>
            .page-title{
                color: black;
            }
        </style>
    <center>
        <h2 class="title"><%= user %>'s Wishlist:</h2>
    </center>
    <center>
        <small id="searchBooksHelp" >Click <a href="/searchBooks">here</a> to add more books to your wishlist!</small>
    </center>
        <!--iteratively display books in users wishlist based on their info in db/info from api call-->
        <!--change to cards for better look?????-->
        <% if (books) { %>
            <% if (books.length == 0) { %>
                <center>
                    <h5><%= user %>: You have no books in your wishlist.</h5>
                </center>
            <% } %>
            <% books.forEach(function(item) { %>
                <% if (item.length == 0) { %>
                    <center>
                        <h5><%= user %>: You have no books in your wishlist.</h5>
                    </center>
                </div>
                <% }  else { %>
                        <div class="row">
                        <% for (let j = 0; j < item.length; j++) { %>
                            <style>
                                body{
                                    color: white;
                                }
                    
                                div.card{
                                    background-color: #432f2e;
                                    margin-right: auto;
                                    margin-left: auto;
                                    border-width: 1px;
                                    border-color: black;
                                    margin-top: 50px;
                                    padding: 10px;
                                }
                    
                                div.card-group{
                                    width: 1000px;
                                    margin-right: auto;
                                    margin-left: auto;
                                    margin-bottom: auto;
                                }
                            </style>
                                <div class="col d-flex justify-content-center">
                                    <div class="card">
                                        <center>
                                            <img src="<%= item[j].imageloct %>" width="200" height="200">
                                        </center>
                                        <div class="card-body">
                                            <center>
                                                <h5 class="card-title"><%= item[j].name %></h5>
                                                <form id="remove-form" action="/wishlistRemove/<%= item[j].book_isbn %>" method="post">
                                                    <button class="btn btn-danger" type="submit">Remove Book</button>
                                                </form>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                        <% } %>
                    </div>
                    <% } %>
                    <% }) %>
                    <% } %>
    </div>
</main>

<%- include ('../Partials/footer') %>